:root {
    --color-bg: #ffffff;
    --color-body: #ffffff;
    --color-text: #000000;
}

body {
    background-color: var(--color-bg);
}

a {
    color: var(--color-text);
    text-decoration: underline;
}

h1 {
    font-family: "Josefin Sans";
    color: var(--color-text);
    margin: 5x 0 0 0;
    contain: layout;
}

h1 a {
    float: right;
    padding: 0 2% 0 0;
}

.body-content {
    background-color: var(--color-body);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    min-height: 400px;
    border: 0px;
    border-spacing: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5%;
}

.profile-photo {
    width: 40%; 
    height: 40%; 
    max-width: 300px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0 15px 5px 0;
}

.profile-photo img {
    height: 80%;
    width: 97.5%;
    max-width: 300px;
    margin: 1% 0 1% 0;
}

.about {
    color: var(--color-text);
    font-size: large;
}

.about-content {
    font-family: "Lato", sans-serif;
}

/* for mobile displays */
@media(max-width: 1000px) {
    h1 {
        font-size: 4vw;
    }

    .body-content {
        background-color: var(--color-bg);
        margin-top: 50px;
        margin-bottom: 50px;
        width: 90%;
        min-height: 400px;
        border: 0px;
        border-spacing: 0px;
        margin-right: auto;
        margin-left: auto;
        padding: 2.5%;
    }

    .about-content {
        font-size: medium;
    }
}

@media(max-width: 786px) {
    h1 {
        font-size: 5vw;
    }
}