body {
    background-color: #FFF5E1;
}

.body-content {
    background-color: #FF6969;
    color: #FFF5E1;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    border: 0px;
    border-spacing: 0px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-family: "Anton";
    margin: 5px;
}